<%= div_for answer do %>
	<div class="user_summary">
		<span class="username"><%= answer.user.name %></span>
		<span class="timestamp"><%= answer.created_at.strftime("%l:%M %p").downcase %></span>
	</div>
	<div class="excerpt">
		<%= answer.body %>
	</div>
	<% if answer.user.id == current_user.id or answer.question.user.id == current_user.id %>
	<div class="comments">
		<%= render :partial => "partials/comment", :collection => answer.comments %>
	</div>
	<% end %>
	<% if answer.user == current_user or answer.question.user == current_user %>
		<div class="operation">
			<%= render @comment = answer.comments.build %>
			<%= link_to 'Reply', new_question_answer_comment_url(:question_id => answer.question.id, :answer_id => answer.id), :remote => true, :id => 'reply' %>
		</div>
	<% end %>
<% end %>