<%= div_for message do %>
	<div class="user_summary">
		<span class="username"><%= message.user.name %></span>
		<span class="timestamp"><%= message.created_at.strftime("%l:%M %p").downcase %></span>
	</div>
	<div class="excerpt">
		<%= safe_html message.markdown %>
	</div>
	<%= link_to "Edit", [:edit,message] %> | <%= link_to "Destroy", message, :method => :delete, :remote => true %>
<% end %>