<%= div_for question do %>
	<div class="topics">
		<% question.topics.each do |topic| %>
			<div class="topic"><%= topic.name %></div>
		<% end %>
	</div>
	<div class="user_summary">
		<span class="username"><%= question.user.name %></span>
		<span class="timestamp"><%= question.created_at.strftime("%l:%M %p").downcase %></span>
	</div>
	<div class="excerpt">
		<%= question.body %>
	</div>
	<h1><%= question.answers.count %> Answers</h1>
	<div id="answers">
		<%= render :partial => "partials/answer", :collection => question.answers %>
	</div>
<% end %>